img {
    height: 310px;
    width: auto;
}
h1 {
    text-align: center;
}
.h1-top{
    margin-bottom: -50px;
}
.menu-container{
    display: flex;
    justify-content: space-around;
    background-color: black;
    border-style: solid;
    border-color: lime;
    color:white;
    height: 15%;
}
.body-container{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    border-style: solid;
    border-color: lime;
    color: white;
}
.menu-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-style: solid;
    border-color: lime;
    background-color: black;
    color: white;
}
.menu-right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    border-style: solid;
    border-color: lime;  
    background-color: black;
    color: white;
}
.link-bar{
    background-color: black;
}
.link-bar, a, a:visited{
    color: slategray;
}
.banner-img{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: lime;
}
